<p id="notice"><%= notice %></p>

<p id="notice"><%= notice %></p>
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">Listing tenants</div>
  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th>House</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @tenants.each do |tenant| %>
        <tr>
          <td><%= tenant.house.name %></td>
          <td><%= tenant.name %></td>
          <td><%= tenant.email %></td>
          <td>
            <%= link_to 'Show', tenant, class: "btn btn-primary" %>
            <%= link_to 'Edit', edit_tenant_path(tenant), class: "btn btn-primary"  %>
            <%= link_to 'Destroy', tenant, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'New Tenant', new_tenant_path, class: "btn btn-primary" %>
