<%= form_for(@house_expense) do |f| %>
  <% if @house_expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@house_expense.errors.count, "error") %> prohibited this house_expense from being saved:</h2>

      <ul>
      <% @house_expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tenant_id %><br>
    <%= f.number_field :tenant_id %>
  </div>
  <div class="field">
    <%= f.label :house_expense_template_id %><br>
    <%= f.number_field :house_expense_template_id %>
  </div>
  <div class="field">
    <%= f.label :expense_name %><br>
    <%= f.text_field :expense_name %>
  </div>
  <div class="field">
    <%= f.label :house_id %><br>
    <%= f.number_field :house_id %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :spent_date %><br>
    <%= f.date_select :spent_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
