<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_for(@house_expense, :html => {class: "form-horizontal"}) do |f| %>
  <% if @house_expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@house_expense.errors.count, "error") %> prohibited this house_expense from being saved:</h2>

      <ul>
      <% @house_expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :expense_name, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.collection_select(:tenant_id, @tenants, :id, :name, {}, {:class => 'form-control'}) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :expense_name, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :expense_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :amount, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.text_field :amount, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :spent_date, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.date_select :spent_date, {}, {:class => "form-control", :style => "display: inline;width: 32.5%;"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :tenant_ids, 'Tenants', class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
      <%= f.collection_check_boxes(:tenant_ids, @tenants, :id, :name) do |b| %>
        <%= b.label do%>
          <%=b.check_box + " " + b.text%>
        <%end%>
        <br/>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.submit 'Add expense', :class => "btn btn-default" %>
    </div>
  </div>
<% end %>
  </div>
</div>