<p id="notice"><%= notice %></p>

<div class="well well-sm">
  Current account cycle: <%= @current_account_cycle.from_date %> to <%= @current_account_cycle.to_date %>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Fixed expenses to be paid</div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Expense</th>
        <th class="text-right">Default amount</th>
        <th>Default payee</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @fixed_expenses.each do |fixed_expense| %>
        <tr>
          <td><%=fixed_expense.expense_name%></td>
          <td class="text-right"><%=fixed_expense.default_amount%></td>
          <td><%=fixed_expense.default_payee.name%></td>
          <td>
          <%= link_to 'Update', update_fixed_expense_path(:fixed_expense_id => fixed_expense.id), method: :get, class: "btn btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Expenses for current cycle</div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Expense</th>
        <th class="text-right">Amount</th>
        <th>Spent by</th>
        <th>Spent date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @house_expenses.each do |house_expense| %>
        <tr>
          <td><%=house_expense.expense_name%></td>
          <td class="text-right"><%=house_expense.amount%></td>
          <td><%=house_expense.tenant.name%></td>
          <td><%=house_expense.spent_date%></td>
          <td>
          <%= link_to 'Destroy', house_expense, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-primary" %>
          <%= link_to 'Update factor', edit_division_factor_path(:house_expense_id => house_expense.id), method: :get, class: "btn btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'New expense', new_house_expense_path, class: "btn btn-primary" %>